@(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bitleague</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            @content
        </div>
        <script src="/signalj/jquery.signalR.js"></script>
        <script type="text/javascript" charset="utf-8" src="/signalj/hubs.js"></script>
        <script type="text/javascript" charset="utf-8" src="@routes.Assets.at("javascripts/chat.js")"></script>
    </body>
</html>
